[2017-07-15 18:24] iphyer opened #4 "AttributeError: 'module' object has no attribute 'download_bundle'"
Hi, I have tried your model but I have found that altough, I have install magenta right and put the performance_with_dynamics.mag file in the right directory, I still enconter this error:

     `---------------------------------------------------------------------------
    AttributeError                            Traceback (most recent call last)
    <ipython-input-11-3eb1b89367f7> in <module>()

[2017-07-26 16:53] HandsomeDevilv112 opened #6 "Using existing midi?"
Would it be possible to use the ai jam demo on an existing midi file instead of a midi device?
For example sake, would/could you be able to generate a midi through use of magenta/models/melody_rnn/, and then use the ai jam to create a drum track based on that input?
Or is this a question for the drums_rnn model?
Also, the link for the for the simplified js version is pointing to the wrong place. I

[2017-07-27 18:43] HandsomeDevilv112 commented on #6
asked and answered in the main branch. The error was between the keyboard and chair. Closing.

[2017-07-27 18:43] #6 closed

[2017-08-02 16:36] velerodro opened #9 "License?"
Hi,

Very cool demos.

What is the license of this code?

Thanks!

[2017-08-02 17:15] adarob commented on #9
Thanks for pointing out this oversight, fixing in #10

[2017-08-03 16:07] dbl001 commented on #4
Same issue:
[code]

[2017-08-10 11:06] robohal opened #14 "Missing evaluation_images dir and checkpoints for .ipynb"
Running image_stylization.ipynb fails at runtime.  After pulling these over from Magenta main, the notebook runs, but images on screen are black squares.

[2017-08-23 00:14] cghawthorne commented on #4
I think this may have been because our pip package was out of date. Can you try upgrading to the latest version and try again?

[2017-08-23 00:14] #4 closed

[2017-08-31 07:47] qulf opened #15 "Crazy idea... AI Jam"
Hi all. i am just jamtaba user. i have idea to connect mageta to jamtaba. what is jamtaba?
some links for you:

https://www.youtube.com/watch?v=DQoGa-35r1Q
http://jamtaba-music-web-site.appspot.com/
https://github.com/elieserdejesus/JamTaba

What do you think about it?

[2017-09-05 16:32] adarob commented on #15
Sounds like a cool idea! It shouldn't be too hard if jambata sends/receives
MIDI.

On Thu, Aug 31, 2017 at 12:47 AM, qulf <notifications@github.com> wrote:

[2017-09-05 18:55] elieserdejesus commented on #15
Hi @adarob , I'm the JamTaba manteiner and @qulf tell me about this discussion.

Unfortunally JamTaba is audio only at moment (I'm finishing the video feature), no midi send/receive.

[2017-09-05 20:14] qulf commented on #15
Maybe magenta can be bulid in to vst plugin? Or use midi like vst?

[2017-09-10 15:53] ailgun opened #16 "DEBUG:tensorflow:Control change 30: 127"
Hello,

I've installed magenta as instructed and after the 'source activate magenta' command line I initated the .sh file for the Ableton Live Jam demo but I'm getting this error continously, the number varies once in a while.

Also as far as I see from the max patch it doesn't start 'listening'

I haven't changed a thing in the Ableton file but just routed my midi keyboard as the midi input for t

[2017-09-22 18:07] swamichandra opened #17 "Running Image Stylization results in a black image"
When I try to run the Image_Stylization.ipynb notebook, the styled images I see in the end are nothing but fully black image.

![magenta-error](https://user-images.githubusercontent.com/5003203/30758188-f3bd7712-9f96-11e7-8cfc-39474b3d969e.png)

[2017-10-04 18:16] aripakman opened #19 "the RL_Tuner.ipynb file seems to be broken"
It does not open in the github screen and in my local jupyter notebook I get: NotJSONError('Notebook does not appear to be JSON: \'{\\n "cells": [\\n {\\n "cell_type": "c...',)

[2017-10-05 10:58] chck commented on #17
Same problem...

[2017-10-05 16:59] fooljames commented on #17
I had the same problem. I tried to downgrade TensorFlow to version 1.0.1 and it works.

Related issue: tensorflow/magenta#570

[2017-10-10 22:53] odomojuli opened #20 "running Flask"
when running Flask I get this error message:

[2017-10-11 17:33] cghawthorne commented on #20
Can you include the full command you are running and what directory you're running it from? Is there any other output?

[2017-10-22 13:46] #9 closed

[2017-12-01 10:41] Shivakishore14 commented on #14
Hey am facing the same issue. The images are black because the `model.transform()` returns `NaN` for each pixel value. am not sure why.

[2017-12-06 12:59] yemeijuan opened #23 "the test of sketch-rnn"
Now I want to test an image of my own .It's ".png". The sketch-rnn using  the test dataset of ".npz". And I want to know how to use a single  image to test?

[2017-12-18 02:07] EMCP opened #24 "no iPad for MIRA"
How required is MIRA?

As I understand MIRA is an app that just allows you to have a configurable midi controller interface, but this is the first time I'm seeing it.

I want to try this project but do not own an iDevice.  Thank you.

[2017-12-18 11:21] vjasterix opened #25 "Cannot read property 'playNote' of undefined"
When solo is off, I get no sound. So I looked in console:

Uncaught TypeError: Cannot read property 'playNote' of undefined
    at MagentaInstance.sendKeyDown (eval at <anonymous> (1.js:25), <anonymous>:97:23)
    at Keyboard.keyDown (eval at <anonymous> (1.js:37), <anonymous>:179:30)
    at KeyboardElement.eval (eval at <anonymous> (1.js:37), <anonymous>:94:10)
    at KeyboardElement.EventEmitter

[2017-12-18 11:25] vjasterix commented on #25
Also the rnn's do not appear to have downloaded

[2017-12-18 11:27] vjasterix commented on #25
File "maybe_download_mags.py", line 15
    print 'File %s already present' % mag_file
                                  ^
SyntaxError: Missing parentheses in call to 'print'
bash: midi_clock: command not found
bash: magenta_midi: command not found
bash: magenta_midi: command not found
 * Running on http://127.0.0.1:8080/ (Press CTRL+C to quit)
bash: open: command not found

[2018-01-05 15:35] Daikon-Sun commented on #19
You can try to remove the extra comma at the end of line 13, and it works find for me.

[2018-02-01 00:22] turingnianos opened #26 "AI Jam js not working"
Hi there, I'm trying to run [ai-jam-js](https://github.com/tensorflow/magenta-demos/tree/master/ai-jam-js) on my Ubuntu 16.04 from my [Magenta conda environment](https://github.com/tensorflow/magenta#manual-install).

I want to use an [Akai LPK25](http://www.akaipro.com/products/keyboard-controllers/lpk-25) as a MIDI controller, so I plug it into my PC with the environment active and I run `sh RUN

[2018-02-01 14:33] turingnianos commented on #26
I get this js error in `Magenta.js` i when I press a key from the keyboard (both in Chrome and Firefox):

![qwer](https://user-images.githubusercontent.com/35035600/35683744-31ae4296-0765-11e8-906b-538bf9463a21.png)

And this when I change from Drums to Piano again:

![qwertttttty](https://user-images.githubusercontent.com/35035600/35683760-3e1aedc2-0765-11e8-8d53-0be4c3e8ea13.png)

[2018-03-08 14:52] antocreo opened #27 "Sketch-RNN ln7 Error: could not cast hparam"
I am trying to run the Sketch-RN demo Sketch_RNN.ipynb.
when I run:
`[train_set, valid_set, test_set, hps_model, eval_hps_model, sample_hps_model] = load_env(data_dir, model_dir)`

this is the error I get:

[code]
Can't figure out the problem though...

[2018-03-08 16:37] antocreo commented on #27
seems the problem is with TF 1.6
I've installed TF 1.2.1 and it works well...

[2018-03-13 10:45] akileshbadrinaaraayanan opened #28 "Sketch RNN example for finishing incomplete sketches"
Is there any code sample illustrating this?

Also, It is mentioned that the authors only use the decoder RNN to first encode an incomplete sketch into a hidden state h. Could someone please explain this?

Thanks,
Akilesh

[2018-03-16 06:12] #28 closed

[2018-03-16 16:40] lukewelsh opened #29 "AI Ableton Jam Issues"
Hi, I'm trying to set up playback in Max and Ableton but when I run the RUN_DEMO.sh its not functions, but I'm unsure where to place the RNN.mag files, also I am getting some errors, any ideas? Here's a printout

Traceback (most recent call last):
File "/Users/Luke/miniconda2/envs/magenta/bin/magenta_midi", line 11, in <module>
  File "/Users/Luke/miniconda2/envs/magenta/bin/magenta_midi", line 11

[2018-03-19 21:42] Nimeas commented on #26
After resolving original symptoms with #30 I have a follow-up issues (unless someone calls for a separate issue I'll continue here since the issue name still applies).

I installed `magenta-gpu` in separate conda envs `magenta` for `python3.5` and `magenta2` for `python2.7`.

Since `python 3` version exhibited crashing on an Import Error, I work with `python 2` for now.

After runing `sh RUN_DEMO.

[2018-03-20 17:39] adarob commented on #26
I have a fix for the Python3 issue that I'll push shortly.
It would be important to see what's happening in the terminal you started RUN_DEMO.sh in. It should be logging messages that it is receiving clock signals.

[2018-03-20 17:56] adarob commented on #26
https://github.com/tensorflow/magenta/pull/1117 will fix the python3 issues once the pip package is updated.

[2018-03-20 18:43] Nimeas commented on #26
For the [no `Response` case](https://www.youtube.com/watch?v=ilTDZRlqn6M), I attach terminal output of `RUN_DEMO.sh` in this [GIST](https://gist.github.com/Nimeas/a75ab356aa693390ae27e0fd3f978b3d)

[2018-03-31 11:09] McHutton opened #32 "A.I. DUET 's piano in localhost:8080 dosen't respond"
## Description
I folowd the guide and built the front end javascript code. The webpage of my browser's localhost:8080 first loaded the A.I. DUET page, I clicked the play button after the loading process. But when I played(clicked) the pinao notes shown below that page, It didn't respond to me at all.

Now I could figure out that after I click the piano, that page may not **POST** that to the serve

[2018-04-02 10:41] tim-peters opened #33 "Missing: From tensorflow model to json model file"
Especially for beginners it would be very helpful if you could describe the step from a pre-trained model from tensorflow (which is e.g. described in the [magenta/sketch-rnn readme](https://github.com/tensorflow/magenta/tree/master/magenta/models/sketch_rnn)) to the json-model-file (which is downloaded from the google storage in the readme of your **Sketch-RNN-JS** example).

This would enable peo

[2018-04-02 16:13] adarob commented on #32
@tambien

[2018-04-06 14:03] liujiaheng commented on #32
Ai-jam-js works. Ai-jam-js is similar to ai-jam.

[2018-04-09 17:35] tambien commented on #32
Might be an issue with installation correct versions for all the modules. try removing the node_modules folder, remove all of the `^` from the [package.json](https://github.com/tensorflow/magenta-demos/blob/master/ai-duet/static/package.json) file. That will install the exact version of that dependency instead of any version which satisfies that semver. So for example edit `"tone": "^0.9.0"` to re

[2018-04-09 18:42] adarob commented on #32
FYI, we are removing the copy of AI Duet from our repo so we can make updates to one central location. Please re-open this issue at https://github.com/googlecreativelab/aiexperiments-ai-duet.

Thanks!

[2018-04-09 18:42] #32 closed

[2018-04-19 07:54] luomancs opened #36 "How to use conditional model"
Hello,

I wonder how to use the conditional model, as I supposed, there is a conditional model included in the pre-trained model. But, I don't know how to input. For example, when I want the model output a catbus, can I draw something like catbus as input? This

[2018-04-23 05:40] ShusenTang commented on #27
this problem will appear since TF 1.5.
the reason is tf can't recognise the 0/1 as the bool type da in the model's json file such as "site-packages/magenta/models/aaron_sheep/layer_norm/model_config.json".
If you don't want to install old version tensorflow, you should change all ''0/1'' into ''false/true" if the paramter type is bool.
for example, the changed model_config.json file should like th

[2018-04-23 14:10] antocreo commented on #27
@ShusenTang thanks for replying. I am using 1.2.1 at the moment and it works alright. I'll definitely do what you suggested if I switch to TF>1.5 :) cheers

[2018-06-12 13:43] tmm2018 opened #39 "[bug] - tensorflow/magenta-demos - AI piano doesn't work OOB (tmm2018)"
### [bug] - tensorflow/magenta-demos - AI piano doesn't work OOB (tmm2018)

**when trying to run ai-duet (the accompanmient thing):**
- <sub>*it compiles*</sub></sub>

---

**however, when i get to run it in macos high sierra on macbook a1278 with core i5:**
- <sub>*i open the default localhost path*</sub>
- <sub>*it doesn't display anything at all*</sub>
- <sub>*it reports some sort of error on t

[2018-06-18 12:16] chrislos opened #40 "perfomance rnn js demo with own midi material"
Dear magenta team,

thanks so much for all your efforts bringing magenta closer to artistic dudes like me.

I'm currently trying to port your performance_rnn browser model using tensorflow.js with my own trained midi composition.

I went through the whole conversion process and endet up with a (hopefully valid)  midi -> training data -> squences -> performance_rnn.mag file including my composition

[2018-06-18 15:47] chrislos commented on #33
hey tim have you found any solutions? I'm stuck at the pretty exact same position.
Quite difficult to figure out how to do this right.

all the best
c.

[2018-06-18 18:08] tim-peters commented on #33
unfortunately not :( I even managed to get in touch with the research lead of Googles brain team about it. But the only thing I found out is that sketch-rnn will probably get refactored around the new tensorflow.js and magenta.js interfaces.
For our project this will be too late so sadly we had to find ways around sketch-rnn..

[2018-06-18 18:20] hardmaru commented on #33
Hi @tim-peters

A newer version of sketch-rnn will be built with tensorflow.js and I'll be sure to include step-by-step instructions (possibly with a colab notebook) on how to train a custom dataset using the TensorFlow version, and export that into a JSON format that will work with the web version.

Due to various projects and ongoing priorities, I won't be able to commit to any timing though.

C

[2018-06-18 18:57] hardmaru commented on #33
@tim-peters @chrislos Are you using sketch-rnn for the full encoder or decoder, or just the decoder version only (for auto-complete)? I can try to dig up the code that does the conversion and get something working for you.

[2018-06-18 19:06] chrislos commented on #33
Dear hardmaru,

thanks for your response! Unfortunately my case is a little bit different than @tim-peters.

I'm desperately try to port a midi composition of mine encoded into a magenta performance rnn (performance_with_dynamics.mag) bundle into readable tensorflow js json format.

I'm stuck at the point where I have to use checkpoint_converter.py with a model.ckpt file.
the files I have so far i

[2018-06-18 19:10] cghawthorne commented on #33
@chrislos I think your issue is separate from the one @tim-peters is talking about and is unrelated to sketch-rnn. Can you open a new bug with details about which javascript setup you're trying to export checkpoints for?

[2018-06-24 01:32] hardmaru commented on #27
Hi @ShusenTang

Thanks for the suggestion. When TF was in the 1.2 days the casting was limited so I used 0/1 but your suggestion works well for current TF versions (including 1.8)

[2018-06-24 01:33] hardmaru commented on #23
Hi @yemeijuan

Sketch-RNN doesn't work on raster images. It is a generative model for vector images.

[2018-06-24 01:40] hardmaru commented on #33
Hi @tim-peters (cc @cghawthorne @douglaseck):

I've created a self-contained tutorial in the form of a short IPython notebook that will convert a TensorFlow model (in my case, a TF sketch-rnn model trained on the Kanji dataset) into a `custom.gen.json` model that can be used for `sketch-rnn-js`. In the future versions when we write the tensorflow.js versions of sketch-rnn I will also be sticking t

[2018-06-28 22:06] hardmaru commented on #33
Hi @tim-peters

This tutorial is now merged:

https://github.com/tensorflow/magenta-demos/blob/master/jupyter-notebooks/Sketch_RNN_TF_To_JS_Tutorial.ipynb

This should help you train a model using the [TensorFlow](https://github.com/tensorflow/magenta/tree/master/magenta/models/sketch_rnn) version of sketch-rnn and deploy the model using [sketch-rnn-js](https://github.com/tensorflow/magenta-demos/

[2018-06-28 22:06] #33 closed

[2018-07-26 13:35] dirkmcpherson opened #42 "Porting magenta-demos to C#"
Hey I'm about to start porting over the sketchRNN demo to c#. Before I start I was wondering whether you knew of any resources I could use a starting point or had any advice, it seems like it'll be at least a 40 hour job so any help would be appreciated.

Thanks for making these demos public, they're really interesting and cool.

[2018-07-29 13:12] twobob commented on #42
Are you porting them in the sense of creating a cradle that calls the extant python installation and just mirroring the functionality via wrapping the response?

[2018-07-30 16:35] dirkmcpherson commented on #42
@twobob right now I'm just porting one of the demos for use in a project I'm working on, so I'm doing the simplest thing and building in a system to read the pre-trained weights, recreate the RNN, pass in a user's interaction, and get out the result.

[2018-07-30 20:31] hardmaru commented on #42
Hi

Recently I’m also in the process of porting sketchrnn to TensorFlow.js
using TypeScript which is more or less a rewrite with webgl acceleration.
The newer version also uses the same json weight files (but is the
decoder-only model). So you can check out this for more resources when you
are porting over to C#

https://github.com/hardmaru/magenta-js/tree/master/sketch

That being said this is wo

[2018-07-31 15:53] adarob commented on #39
We are no longer supporting AI Duet in this repo. Please see the main repo: https://github.com/googlecreativelab/aiexperiments-ai-duet

[2018-07-31 15:53] #39 closed

[2018-08-01 13:32] dirkmcpherson commented on #42
@hardmaru thanks! No worries on further support its always really helpful to have multiple examples of the same idea. Definitely helps understanding.

[2018-08-09 09:28] robinmeier opened #43 "performance_rnn midi timing broken?"
hi,

i've recorded the audio output of performance_rnn (browser) in parallel to the midi output and the two are not aligned.

midi is usually ahead, but sometimes lagging behind. the delay is not constant.

i haven't managed to test with the offline version of performance_rnn because my OS is too old (?). but am wondering if it is possible to fix the variable delay in the online version.

cheers

[2018-08-09 22:53] cghawthorne commented on #43
Is this for the TensorFlow.js demo? https://goo.gl/magenta/performancernn-demo

I'm not surprised that there's some amount of delay given what we're doing with Tone.js/webaudio and that the inference is happening in the same thread that's managing the UI and the audio output. If you're using the MIDI output to create audio, I'd definitely recommend just muting the tab.

If you want to generate mus

[2018-08-09 22:53] #43 closed

[2018-08-10 20:08] DWitol commented on #25
I am facing the same problems but I can help with the RNN's. You need to use Python 2.7 for the maybe_download_mags.py portion to work. You could also edit the file to add () around all the print statements. (There are only 2 in the program) If you have any luck fixing the bash commands not found please add it here. I would appreciate it.

[2018-08-26 16:47] robinmeier opened #44 "colab performance RNN.ipynb syntax"
unclear how to use the notes_per_second and the pitch_class_histogram in the ipynb colab example.
https://colab.research.google.com/notebooks/magenta/performance_rnn/performance_rnn.ipynb

the syntax in the notebook doesn't seem to correspond to the documentation at https://github.com/tensorflow/magenta/tree/master/magenta/models/performance_rnn

(or probably i just don't get it?)

[2018-09-01 22:29] orgicus opened #45 "Error using SketchRNN model trained using Sketch_RNN_TF_To_JS_Tutorial notes"
@hardmaru I've tried following your super helpful [Sketch_RNN_TF_To_JS_Tutorial notebook](https://github.com/tensorflow/magenta-demos/blob/master/jupyter-notebooks/Sketch_RNN_TF_To_JS_Tutorial.ipynb), but ran into errors using a model I've just trained.

With the version of sketch-rnn-js in this repo I get this error:
[code]

using your latest magenta-js version of sketch-rnn:
[code]

More info on

[2018-09-01 23:49] orgicus commented on #45
**Update** Just a d'oh moment. I was still using an older ./checkpoints folder which had training data using [older instructions](https://github.com/tensorflow/magenta/blob/master/magenta/models/sketch_rnn/README.md#example-usage). I've pointed the SketchRNN TF to JS converter script to `/tmp/sketch_rnn/models/default` where the newer model was trained and I [got a model that works](https://transf

[2018-09-02 08:53] hardmaru commented on #45
Great, I’m glad it works!

If there’s anything unclear in the notebook please feel free to submit a PR

On Sun, Sep 2, 2018 at 8:49 AM George Profenza <notifications@github.com>
wrote:

[2018-10-02 00:55] heaversm opened #49 "Possible to save / record?"
Hi - I've set up the AI Jam JS demo to run locally, and I can compile the code with webpack. Is there a way to save the output of a session? Either within this codebase, or with a third party application?

[2018-10-28 08:31] Zibri opened #53 "Web demo does not play"
https://tensorflow.github.io/magenta-demos/piano-genie/

does not produce sound.
probably due to chrome error:

`piano_genie_bundle.js:21483 The Web Audio autoplay policy will be re-enabled in Chrome 71 (December 2018). Please check that your website is compatible with it. https://goo.gl/7K7WLu`

[2018-10-28 21:54] chrisdonahue commented on #53
I added semantics a while back to support the new autoplay policy. Perhaps you are running an older version out of your cache? Try a full refresh (Cmd+Shift+R). Also try pressing multiple keyboard buttons or click your mouse somewhere on the webpage and let me know if that fixes it.

[2018-10-30 04:16] chrisdonahue commented on #53
@Zibri can you let me know if this fixed the issue? If not, what OS / chrome version do you have?

[2018-11-07 08:49] #45 closed

[2018-11-14 23:50] notwaldorf opened #57 "piano-genie build doesn't seem to work"
I just cloned the piano-genie demo and tried to build it, but `yarn build` gives me this error:
[code]

Is there a problem with the version of tfjs it's using?

cc @chrisdonahue

[2018-11-15 01:38] chrisdonahue commented on #57
Just tried and got the same issue. Fixed it by upgrading to `@tensorflow/tfjs@0.13.4` and `@tensorflow/tfjs-core@0.13.11`. Confirmed that tests still work after upgrade.

[2018-11-15 22:41] chrisdonahue commented on #57
Hey just an FYI that I am working on a PR to add a stripped-down version of Piano Genie directly to magenta-js. Hope to have it in by EOD.

[2018-11-19 01:07] jesseengel commented on #24
Mira is not required, it is just for ease of controlling the max patch as you mentioned.

[2018-11-19 01:07] #24 closed

[2018-11-30 22:52] chrisdonahue commented on #57
This can be closed now probably :)

[2018-11-30 22:53] #57 closed

[2019-02-04 07:46] sandcobainer opened #62 "magenta_out in ai-jam-js does not output midi events"
Using python 2, ai-jam-js project with Ableton Live.
The call and response work perfectly and there is audible sound, but I have an Ableton Live MIDI track listening on magenta_out and there are midi events on magenta_out.

From the README.md on ai-jam-js, "Both of these instances output responses to the "magenta_out" port, which the browser is listening to for playback"

There is audible playback

[2019-02-04 11:32] sandcobainer commented on #62
I figured this to be a simple problem of reinstalling the MIDI drivers and looking for magenta_out channels. If someone is looking to integrate the js web interface with Ableton Live, simply listen on magenta_out on channels 1 and 10 for keyboard and drum respectively.
Sorry about this issue. Cheers!

[2019-02-04 11:32] #62 closed

[2019-02-08 09:39] ruiguo-bio opened #63 "nsynth generate.py not work"
I want to one instrument at a corner, in total 4 instruments, and not a multi-grid. I try two configs, but both  failed. I add some print in generate.py to debug.

I’ve tried that before, and I add some print in the generate.py. Here is the result for the two different configs:

First config:

{
    "instruments": [["single"],
                    ["chorus"],
                    ["bird1"],

[2019-02-18 10:32] JCBrouwer commented on #63
Hey @ruiguo-bio, I believe this is an issue with the "instruments" setting. The list of lists should be made square.

In your case it should look like this:
`
"instruments": [["single", "chorus"],
                          ["bird1", "bird5"]],
`

[2019-02-18 15:45] ruiguo-bio commented on #63
Yes I also tried that settings before. I guess at each corner ableton live
<img width="611" alt="screen shot 2019-02-18 at 15 39 57" src="https://user-images.githubusercontent.com/20548903/52962014-1f035800-3394-11e9-8805-83a25508f88a.png">
should output only one instrument with no interpolation. But I find it strange that at each corner if I move the interpolation point away and go back to the sa

[2019-02-19 18:54] JCBrouwer commented on #63
Could you try to running it one more time with the square instruments list after you've removed your working_dir? Could be that some older files leftover from runs with incorrect settings are messing something up.

I'm not quite sure about everything that you've printed out inside the loops but I know that grid_size should come out to 0.9999... if everything is working correctly.

I've just tried

[2019-04-08 09:16] DWUIDeveloper opened #66 "Tool to be used for creating own data"
I was going through the reference for training on custom dataset: https://github.com/tensorflow/magenta/blob/master/magenta/models/sketch_rnn/README.md#creating-your-own-dataset

Which tool to use for creating dataset in stroke-3 format(list of coordinate offsets: ∆x, ∆y, and a binary value representing whether the pen is lifted away from the paper).

[2019-04-20 13:35] shyamalschandra opened #67 "Are you planning on making a version for Logic Pro X?"
Are you planning on making a version of Magenta Studio plugins for Logic Pro X?

I personally don't use Ableton.

https://magenta.tensorflow.org/studio

Here's how you make a audio unit in Logic Pro X:
https://developer.apple.com/library/archive/documentation/General/Conceptual/ExtensibilityPG/AudioUnit.html#//apple_ref/doc/uid/TP40014214-CH22-SW1

[2019-04-26 02:57] adarob commented on #67
Sorry, but we don't have any plans for this, as it would be non-trivial. You can use the standalone versions however.

[2019-04-26 02:57] #67 closed

[2019-04-26 06:49] nitish11 opened #68 "Trained models for Chair"
Hi,

I am exploring the code, [the trained files](https://github.com/tensorflow/magenta-demos/tree/master/sketch-rnn-js#pre-trained-weight-files) mentioned here are in JSON format. I need the trained models in tensorflow form. When I downloaded the trained model from tensorflow, from [this link](http://download.magenta.tensorflow.org/models/sketch_rnn.zip), I found only 5 folders. Where can I find

[2019-04-29 05:49] nitish11 opened #69 "Python way of loading model"
What is the python code for loading the model?

For [reference ](https://github.com/tensorflow/magenta-demos/tree/master/sketch-rnn-js#sketch-rnn), what is the way to load a JSON model file in python?

[2019-04-29 16:48] adarob commented on #69
The Python code is here: https://github.com/tensorflow/magenta/tree/master/magenta/models/sketch_rnn

[2019-04-29 16:48] #69 closed

[2019-04-29 17:03] cghawthorne commented on #68
@hardmaru

[2019-04-30 07:09] nitish11 commented on #69
@adarob : the question is how to load **JSON model** in python.

Javascript code :

'''
var model_data = Parsed_JSON_file_of_pretrained_weights();
var model = new SketchRNN(model_data); // this creates your model using the pre-trained weights inside model_data
'''

In the [python code](https://github.com/tensorflow/magenta/tree/master/magenta/models/sketch_rnn#pre-trained-models) , the pre-trained

[2019-04-30 16:25] adarob commented on #69
I don't think you can load a JSON model in Python. @hardmaru is there a chair model for Python?

[2019-05-10 05:26] nitish11 commented on #69
I found the answer for the other way round, i.e, converting a python model into JSON file, recording it for future reference.

https://github.com/tensorflow/tfjs-converter

https://github.com/tensorflow/magenta-demos/issues/33

[2019-05-10 05:35] nitish11 opened #72 "How to save sketches drawn in Sketch-RNN?"
I am using [multi-predict code](https://github.com/tensorflow/magenta-demos/blob/master/sketch-rnn-js/multi_predict.js) to generate multiple sketches. Can I save the generated sketches as images(png, jpg)?

Thanks

[2019-05-13 18:36] cghawthorne commented on #72
@hardmaru

[2019-05-14 01:28] SidShetye opened #73 "Image Stylization jupyter book doesn't work on Windows"
Two issues.

## 1. OS agnostic path delimiting needed

In `magenta-demos/jupyter-notebooks/Image_Stylization.ipynb` at line 38 `os.path.join(example_path, 'evaluation_images/guerrillero_heroico.jpg')` should be `os.path.join(example_path, 'evaluation_images', 'guerrillero_heroico.jpg')`

## 2. image_utils.load_np_image failure

This is then followed by an error inside `image_utils.load_np_image` (

[2019-06-14 17:53] romanoss commented on #73
same

[2019-06-14 19:18] romanoss opened #74 "style transfer demo broken on colab"
installing magenta and running the style transfer notebook code in colab(gpu) gives 👍
ImportError: This version of TensorFlow Probability requires TensorFlow version >= 1.14; Detected an installation of version 1.13.1. Please upgrade TensorFlow to proceed.

upgrading tf gives new errors

[2019-09-30 17:00] sebamacchia opened #78 "Image Stylization notebook doesn't work on Colab"
getting this error:

[code]

[2019-11-21 11:11] Pauladds opened #80 "Error with Placeholder_1 in sketch RNN"
I tried to run el script https://github.com/tensorflow/magenta-demos/blob/master/jupyter-notebooks/Sketch_RNN.ipynb but with diferente dataset (pig.npz) and with the checkpoints of that and i have the next problem :
![download](https://user-images.githubusercontent.com/38189240/69332987-178d1a00-0c58-11ea-95aa-edbc0039089e.png)
Thank you :)

[2019-11-22 03:52] momo1986 opened #81 "How to do the midi generation and midi playing simultaneously?"
Hello, dear google-magenta guys,

I tried to use your APIs to generate music.
First， create an estimator：
[code]
Second, I have a midi input interface:
# Create input generator (so we can adjust priming and
# decode length on the fly).
[code]
Third, do prediction:
[code]

Fourth, I have an API to generate the MIDI note one by one, after the generation, it will read the MID file as playing:
[code]

[2019-11-22 09:19] momo1986 commented on #81
Currently, the demo is generated the midi and then play with midi-file opened.

Is there the potential to iterate the prediction result and play at as one by one music sequence?

Thanks  & Regards!
Jun Yan

[2019-11-25 08:31] momo1986 commented on #81
I am sorry.
As our small team found,
the operation caused much time is this:
[code]
However, output data is essential for generation of midi  and also playing.

How to reduce the operation time instead of the operation of "next" caused too much time?

Thanks & Rehards!

[2019-11-25 14:17] #80 closed

[2020-01-19 08:59] varshaneya opened #82 "Unable to load cat.gen.js and firetruck.gen.js"
In `basic_predict.html` and in `simple_predict.html`, fetching javascripts for **Cat** and **Firetruck** classes give 403 error.

In other words, the default code in `basic_predict.html` is given below and runs fine:

`<script language="javascript" type="text/javascript" src="https://storage.googleapis.com/quickdraw-models/sketchRNN/models/mosquito.gen.js"></script>`

I get 200 for fetching **mosq

[2020-01-30 22:19] xavierign opened #83 "Setting the environment to run the Sketch_RNN.ipynb"
Hello there, thanks for the material, it is awesome.

I want to play around with Sketch_RNN.ipynb but I am having troubles when setting environment.
I am having difficulties with these libraries/versions
are these the correct versions?

tensorflow==1.8.0?
tensorflow_probability==XX?  ## tensorflow 1.8.0 only works with 0.0.1, but I am kind of lost
magenta==1.2.2?

is there a colab version where I

[2020-03-12 03:10] hugojing opened #84 "Will NSynth support the VST/AU format as an audio/MIDI plug-in in the future?"

[2020-04-26 11:44] MarkTension opened #85 "has multigrid generation been removed for the NSYNTH?"
Hi all,

A few months ago I found this git readme (I think in the NSYNTH folder)  with instructions on how to generate a multigrid which could be loaded by the nsynth ableton plugin.
It described how it needed a number of different tunings for each .wav samples.

I've searched everywhere, but can't seem to find it. Where can I find these instructions now?
Thank you!

[2020-04-26 11:52] MarkTension commented on #85
Aah Daim. I was looking in the models folder. Found it. https://github.com/magenta/magenta-demos/tree/master/nsynth

[2020-04-26 11:52] #85 closed

[2020-05-05 07:03] MarkTension opened #86 "nsynth generate.py stuck, and generates 31GB of long .wav files"
Hi all!

I'm trying to run generate.py

[code]

the soxi output of my wav files looks pretty okay:

`Input File     : 'bush_48.wav'
Channels       : 1
Sample Rate    : 16000
Precision      : 16-bit
Duration       : 00:00:04.17 = 66730 samples ~ 312.797 CDDA sectors
File Size      : 134k
Bit Rate       : 256k
Sample Encoding: 16-bit Signed Integer PCM`

But for some reason the training won't work.

[2020-05-06 05:58] jesseengel commented on #86
Hi, it does seem that the reason it would take so long is running on CPU. You might want to confirm that your tensorflow is able to run on the GPU on your machine outside of the script. The long files however is very strange. @JCBrouwer do you have any thoughts on what could be going on?

[2020-05-06 06:00] jesseengel commented on #84
Hi, thanks for the question! NSynth was a fun research project, but that particular wavenet autoencoder model is not being developed further at the time. The latest grandchild of the work g.co/magenta/ddsp is much more efficient so it's not impossible to imagine a plugin someday, although the work is still be researched.

[2020-05-06 06:00] #84 closed

[2020-05-06 10:39] MarkTension commented on #86
Thanks @jesseengel . It did seem that GPU was available from tf.test.is_gpu_available, but I'll give it a more thorough check by running some model then.

Maybe relevant: There were some errors with generate.py code in general. np.linspace kept throwing errors about the third np.linspace argument having to be an integer (it was a float). (maybe a numpy / python version issue? I use numpy 1.18.4 an

[2020-05-07 21:06] JCBrouwer commented on #86
I was able to reproduce the issue as well, but also managed to get it working correctly.

The issue for me was indeed related to executing on the CPU. To get it working I uninstalled magenta and made sure only magenta-gpu was installed. Also, my tf.test.is_gpu_available() showed an error because cudnn wasn't installed. This is super easy to install if you use anaconda, just a "conda install cudnn"

[2020-05-08 06:24] JCBrouwer commented on #86
OK scratch the part about the long files. The run I left on overnight is still generating. For some reason it isn't stopping after it has generated sample_length samples. The first 5 seconds (ie 80000 samples) of audio sound correct, but the files are still 43 minutes long.

I can take a better look through generate.py over the next couple days, but I feel like this might be something in nsynth_ge

[2020-05-09 10:48] MarkTension commented on #86
@JCBrouwer Thank you, I'll make sure to fix my GPU problem first, and for the time being I'll manually end the generation when I hit 4 seconds sample length

[2020-05-11 05:21] jesseengel commented on #86
Thanks for following up on this @JCBrouwer. If I recall correctly embeddings should be every 32ms, so 156 sounds right I think.

[2020-05-24 06:19] jeffkile opened #87 "Nsynth generate.py "operands could not be broadcast together with shapes""
I'm getting this error when running the generate.py script
[code]

This is my settings.json

[code]

I'm using:
python 3.7.6
numpy 1.16.0
tensorflow 1.15.3
magenta 1.3.1

[2020-05-24 06:32] jeffkile opened #88 "Nsynth generate.py "TypeError: 'float' object cannot be interpreted as an integer" with numpy 1.18.4"
Hi when using numpy 1.18.4 I'm getting the following error when trying to run the generate.py script for Nsynth

[code]

This is my settings.json

[code]

I'm using:
python 3.7.6
numpy 1.18.4
tensorflow 1.15.3
magenta 1.3.1

[2020-05-26 13:33] adarob commented on #88
@JCBrouwer PTAL

[2020-05-26 13:45] adarob commented on #87
@JCBrouwer PTAL

[2020-05-26 21:02] JCBrouwer commented on #88
Hey @jeffkile, you're running into the same issue as #86. This error message is related to numpy deprecating the use of floats as steps in linspace in 1.18. Also, most likely you'll run into the same issues with nsynth_generate never ending as well.

I've pushed a version of generate.py I was using to test here: https://github.com/JCBrouwer/magenta-demos/blob/master/nsynth/generate.py

It casts th

[2020-05-26 21:22] adarob commented on #88
@JCBrouwer would you mind making a PR with the float fix?

[2020-06-02 16:06] #88 closed

[2020-06-02 16:06] #87 closed

[2020-06-15 15:35] sanjaysaha1311 commented on #78
I got around this error by downgrading scipy to 1.1.0:

`pip install scipy==1.1.0`

[2020-06-15 15:39] sanjaysaha1311 opened #90 "Getting Black Images as Output for Image Stylization"
I am getting black images after running the code (from Image Stylization) on my local computer. However, the same thing worked perfectly in Google Colab. I am not sure where is the problem.

I installed packages as in the Google Colab Runtime. Here's a list of necessary packages:
`tensorflow                     2.2.0
tensorflow-addons              0.10.0
tensorflow-datasets            3.1.0
tensor

[2020-06-30 13:19] SheldonFeldman opened #91 "Google Colaboratory Notebook Examples Broken"
Unfortunately..
Google Colaboratory Notebooks (.ipynb)
Are no longer functional!
*.ipynb versions from both the website
(Magenta.tensorflow.org/demos/colab/)
and from the git repository (GitHub.com/magenta/magenta)
do not work at present!
I have tried Hello magenta, GANSynth and GrooVAE
Multiple Errors on configuration/setup phase [ ]
Magenta/Tensorflow

Please assist! Help fix?

[2020-06-30 13:29] SheldonFeldman commented on #91
https://colab.research.google.com/github/tensorflow/magenta-demos/blob/master/colab-notebooks/GrooVAE.ipynb

[ ] setup configuration

OUTPUT ERROR =

ImportError: No module named magenta.models.music_vae

[2020-07-09 18:43] #91 closed

[2020-09-05 09:29] WhaSukGO commented on #45
I'm having the same problem, but don't really understand what I've done wrong.

I trained my model, setting the ```--log_root``` to a newly created directory called ```log``` inside the ```magenta/magenta/models/sketch_rnn```

After training succesfully, I have `checkpoint`, `model_config.json,` `vector-10000.*`.

However, I'm stuck at running `load_checkpoint(sess, model_dir)`

[code]

[code]

Ap

[2020-09-06 02:31] winnayx opened #95 "Broken links in Hello Magenta Glitch"
Hi, I am unsure if this is the right place to notify this, but all the links are broken in https://hello-magenta.glitch.me/ doc.

[2020-09-06 08:55] orgicus commented on #45
Hi @WhaSukGO,

I'm not 100% sure what the issue is.

`--log_root` is a command line argument you can can use to specify a custom folder to save checkpoints to.
It doesn't need to be `magenta/magenta/models/sketch_rnn`.

What arguments did you pass to `sketch_rnn_train` ?
(I'm asking because flags like `conditional` will have an effect on the network's topology.

The error sort of hints at the fact